---

// components
import MainLayout from '../../layouts/MainLayout.astro';
import IntroImageComponent from '../../app/html-intro-image-component/IntroImageComponent.astro';
import AsideSubMenuComponent from '../../app/html-aside-sub-menu-component/AsideSubMenuComponent.astro';
import AsideInterestComponent from '../../app/html-aside-interest-component/AsideInterestComponent.astro';
import ProductsClusterComponent from '../../app/html-products-cluster-component/ProductsClusterComponent.astro';
import BodyMenuComponent from '../../app/html-body-menu-component/BodyMenuComponent.astro';
import ProductPlusVideo from '../../app/html-product-plus-video/ProductPlusVideo.astro';

// logic and common module
import { fnGetConfigAppObj, fnInitApp } from '../../app/InitApp';
import CommonModule from '../../app/server-common-module/Common.module';
import type { ProductType } from '../../app/server-common-module/domain/types/Product.types';

// init app
await fnInitApp();
const fnGetProductSummaryList = CommonModule().fnGetProductSummaryList;
const fnGetProductListForEachId = CommonModule().fnGetProductListForEachId;
const fnFetchProductListByOnePage = CommonModule().fnFetchProductListByOnePage;
const fnFetchProductLisByAllPages = CommonModule().fnFetchProductLisByAllPages;
const fnAddDescripcionToImages = CommonModule().fnAddDescripcionToImages;
const fnAddTitleToImages = CommonModule().fnAddTitleToImages;
const fnHttpCall = CommonModule().fnHttpCall;
const configApp = fnGetConfigAppObj();

// get all products

const productList: ProductType[] = await fnFetchProductLisByAllPages(1,1,configApp,fnHttpCall,fnFetchProductListByOnePage,[]);

// keywords

/**
 * 
 * max: 140 characters
 * 
 * PRODUCT_ID - KEYWORDS
 * 9, 40, 29    tendedero de ropa para apartamento
 * 8, 16, 12    tendederos para apartamentos
 * 50, 23, 37   colgador de ropa para apartamento
 * 28, 31, 19   extendedores de ropa para apartamento
 * 7, 19        tendedero de ropa apartamento
 * 28, 1        tendedero apartamento
 * 7, 1         tendedero ropa apartamento
 * 18, 31       tendedero de ropa para departamentos
 * venta de tendederos de ropa para apartamentos
 * 
 */

const keywordsProductId9 = new Map([
  [9,'Tendedero de ropa para apartamento, color blanco y brazos de madera estilo pulpo que sostiene 3 camisas y una toalla'],
]);

const keywordsProductId8 = new Map([
  [8,'Tendederos para apartamentos, de color gris y de acero inoxidable con dos alas laterales, que sostiene varias prendas'],
]);

const keywordsProductId50 = new Map([
  [50,'Colgador de ropa para apartamento, montaje en dos paredes, y entre pared y pared se estiran 4 cuerdas de acero que sostiene camisas'],
]);

const keywordsProductId10 = new Map([
  [10,'Tendedero apartamento, de dos niveles y de piso, en forma de A may칰scula, en la parte superior y en el medio se extienden alas laterales'],
]);

const keywordsDescriptionForImages = new Map([
  [7,'Tendedero de ropa apartamento, tendedero ropa apartamento, de color plateado, est치 de pie, sosteniendo un pantal칩n y dos toallas'],
  [40,'Tendedero de ropa para apartamento, de madera, est치 de pie, sosteniendo tres toallas de colores azul claro, azul oscuro y marr칩n'],
  [16,'Tendederos para apartamentos, de aluminio con 4 brazos superiores para sostener ropa, que son una camiseta roja y dos toallas blanca y caf칠'],
  [23,'Colgador de ropa para apartamento, montado en la pared, en forma de brazo con 3 partes que se pueden plegar, sostiendo varias camisas'],
  [31,'Extendedores de ropa para apartamento, de acero, montado en la pared que sostiene una chaqueta de hombre y dos camisas de mujer'],
  [31,'Tendedero de ropa para departamentos, de acero, montado en la pared que sostiene una chaqueta de hombre y dos camisas de mujer'],
  [28,'Extendedores de ropa para apartamento, tendedero apartamento, montado en la pared, con 5 varillas para sostener ropa'],
  [18,'Tendedero de ropa para departamentos, tendedero ropa apartamento, de piso en forma de T, sosteniendo varias camisas de hombre a cada lado'],
  [29,'Tendedero de ropa para apartamento, de color plateado, en acero, montado en la pared con 8 varillas, que sostiene 4 toallas'],
  [37,'Colgador de ropa para apartamento, de color negro, en metal, montado en la pared con 8 varillas, que sostiene 4 toallas y una camisa'],
  [12,'Tendederos para apartamentos, de piso con varillas, en forma de mesa con dos alas laterales adicionales que sostiene mucha ropa'],
  [19,'Extendedores de ropa para apartamento, tendedero de ropa apartamento, de madera bambu, de piso y sin prendas'],
  [1,'Tendedero ropa apartamento, tendedero apartamento, de madera bambu, de piso con dos camisas'],
]);


// video products

const productId8 = fnGetProductListForEachId([8],productList);
let productId8Summary = fnGetProductSummaryList(productId8)(configApp);
productId8Summary = fnAddDescripcionToImages(productId8Summary, keywordsProductId8);

const productId9 = fnGetProductListForEachId([9],productList);
let productId9Summary = fnGetProductSummaryList(productId9)(configApp);
productId9Summary = fnAddDescripcionToImages(productId9Summary, keywordsProductId9);

const productId10 = fnGetProductListForEachId([10],productList);
let productId10Summary = fnGetProductSummaryList(productId10)(configApp);
productId10Summary = fnAddDescripcionToImages(productId10Summary, keywordsProductId10);

const productId50 = fnGetProductListForEachId([50],productList);
let productId50Summary = fnGetProductSummaryList(productId50)(configApp);
productId50Summary = fnAddDescripcionToImages(productId50Summary, keywordsProductId50);

// rest of products

const idListProduct = [7,40,16,23,31,28,18,29,37,12,39,1];
const similarProducts = fnGetProductListForEachId(idListProduct,productList);
let similarProductsSummaryList = fnGetProductSummaryList(similarProducts)(configApp);
similarProductsSummaryList = fnAddDescripcionToImages(similarProductsSummaryList, keywordsDescriptionForImages);

---

<MainLayout page="ubicacion-apartamento">
  <main class="pt-20 lg:pt-0">
    <IntroImageComponent page="ubicacion-apartamento"/>
    <br>
    <br>
    <div class="flex flex-col lg:flex-row">
      <AsideSubMenuComponent category="Ubicaci칩n" subCategoryName="Apartamento" />
      <section class="font-mono w-11/12 m-auto lg:w-2/3">
        <div class="grid lg:grid-cols-2 gap-8">
					<ProductPlusVideo products={productId9Summary}/>
					<ProductPlusVideo products={productId8Summary}/>
					<ProductPlusVideo products={productId50Summary}/>
					<ProductPlusVideo products={productId10Summary}/>
				</div>
				<br>
				<br>
        <br>
        <br>
        <h2 class="text-3xl lg:text-4xl text-zinc-600 text-center font-sans font-bold">
					M치s productos relacionados con venta de tendederos de ropa para apartamentos
				</h2>
        <br>
        <br>
        <br>
        <br>
        <ProductsClusterComponent products={similarProductsSummaryList}/>
        <br>
        <br>
        <h3 class="text-3xl lg:text-4xl text-zinc-600 text-center font-sans font-bold lg:mt-6">
					 No encuentras el modelo ideal ?
				</h3>
        <br>
        <br>
        <p class="text-zinc-800 text-base lg:text-lg font-mono font-medium lg:w-3/4 text-center m-auto bg-yellow-100 p-5 lg:p-10 rounded-md">
          Nuestro men칰 principal te puede ofrecer una gran variedad de opciones, rev칤salo :) 游
        </p>
        <br>
        <br>
        <BodyMenuComponent />
        <br>
        <br>
      </section>
      <AsideInterestComponent />
    </div>
  </main>
</MainLayout>

