---

import type { ProductSummaryDto } from '../server-common-module/domain/dtos/ProductSummary.dto';

interface Props {
  products: ProductSummaryDto[],
}

const { products } = Astro.props;

---
<div class="grid grid-cols-2 m-auto lg:grid-cols-3 gap-3">
  {
    products.map(product => (
      <div class="mb-10 pb-4 border-zinc-100 border border- rounded-xl shadow-lg bg-yellow-50 hover:contrast-75 transition duration-300">
        <a href={product.affiliateUrl} target="_blank" rel="sponsored" class=" text-sm lg:text-lg">
          <img class="w-full m-auto rounded-tl-xl rounded-tr-xl"
            srcset={`
              ${product.imageSmall} 300w,
              ${product.imageMedium} 600w,
              ${product.imageLarge} 1000w,
              ${product.imageExtraLarge} 200w`}
            sizes="100vw" 
            loading="lazy"
            src={product.src}
            alt={product.alt}/>
          <div class="flex flex-row mt-4 justify-center text-sm">
            <div class="text-white bg-zinc-900 pr-2 pl-2 pt-1 pb-1 rounded-tl-md rounded-bl-md">
            {`US $${product.price}`}
            </div>
            <div class="text-zinc-900 bg-yellow-300 pr-2 pl-2 pt-1 pb-1 rounded-tr-md rounded-br-md">
              Amazon
            </div>
          </div>
          <h3 class="text-cyan-800 text-sm font-bold pt-4 w-11/12 text-center m-auto">
            {product.title}
          </h3>
        </a>
      </div>
    ))
  }
</div>