---

// components
import MainLayout from '../layouts/MainLayout.astro';
import IntroImageComponent from '../app/html-intro-image-component/IntroImageComponent.astro';
import ProductsClusterComponent from '../app/html-products-cluster-component/ProductsClusterComponent.astro';
import AsideMenuComponent from '../app/html-aside-menu-component/AsideMenuComponent.astro';
import AsideInterestComponent from '../app/html-aside-interest-component/AsideInterestComponent.astro';
import BodyMenuComponent from '../app/html-body-menu-component/BodyMenuComponent.astro';
import ProductPlusVideo from '../app/html-product-plus-video/ProductPlusVideo.astro';

// logig and common module
import CommonModule from '../app/server-common-module/Common.module';
import { fnInitApp, fnGetConfigAppObj } from '../app/InitApp';
import type { ProductType } from '../app/server-common-module/domain/types/Product.types';

// init app
await fnInitApp();
const fnGetProductSummaryList = CommonModule().fnGetProductSummaryList;
const fnGetProductListForEachId = CommonModule().fnGetProductListForEachId;
const fnFetchProductListByOnePage = CommonModule().fnFetchProductListByOnePage;
const fnFetchProductLisByAllPages = CommonModule().fnFetchProductLisByAllPages;
const fnAddDescripcionToImages = CommonModule().fnAddDescripcionToImages;
const fnAddTitleToImages = CommonModule().fnAddTitleToImages;
const fnHttpCall = CommonModule().fnHttpCall;
const configApp = fnGetConfigAppObj();

// get all products

const productList: ProductType[] = await fnFetchProductLisByAllPages(1,1,configApp,fnHttpCall,fnFetchProductListByOnePage,[]);

// keywords

/**

max: 140 characters

PRODUCT_ID - KEYWORDS
tendedero de ropa
tender de ropa
estendederos de ropa
tendedero
tendedero ropa *
tender ropa
tendederos para ropa
extender ropa
extendedor de ropa
colgador de ropa para secar
extender la ropa
tender para ropa
tendal de ropa
tendal ropa
tendedero secador de ropa
colgador para secar ropa
tendedero para colgar ropa
para tender ropa
-
tender la ropa
tendedero para secar ropa
tendedero colgador de ropa
para tender la ropa
tender para la ropa
tender para colgar ropa

*/



// video products

/**
 * SECTION 1
 */

// #9

const keywordsProductId9 = new Map([
  [9,'Tr칤pode para extender ropa vertical y brazos en estrella en la parte superior, de color blanco que sostiene 3 camisas y una toalla'],
]);
const keywordTitleProductId9 = new Map([[9,'Tr칤pode para extender ropa vertical']]);
const productId9 = fnGetProductListForEachId([9],productList);
let productId9Summary = fnGetProductSummaryList(productId9)(configApp);
productId9Summary = fnAddDescripcionToImages(productId9Summary, keywordsProductId9);
productId9Summary = fnAddTitleToImages(productId9Summary,keywordTitleProductId9);

// #8

const keywordAltProductId8 = new Map([
  [8,'Tender de ropa de 4 niveles en acero, de color gris y con dos alas laterales, que sostiene varias prendas'],
]);
const keywordTitleProductId8 = new Map([[8,'Tender de ropa de 4 niveles en acero']]);
const productId8 = fnGetProductListForEachId([8],productList);
let productId8Summary = fnGetProductSummaryList(productId8)(configApp);
productId8Summary = fnAddDescripcionToImages(productId8Summary, keywordAltProductId8);
productId8Summary = fnAddTitleToImages(productId8Summary,keywordTitleProductId8);

// # 19

const keywordAltProductId19 = new Map([
	[19,'Tr칤pode extendedor de ropa vertical con 4 brazos en la parte superior en forma de X, sosteniendo camisas en cada brazo.']
]);
const keywordTitleProductId19 = new Map([[19,'Tr칤pode extendedor de ropa vertical']]);
const productId19 = fnGetProductListForEachId([19],productList);
let productId19Summary = fnGetProductSummaryList(productId19)(configApp);
productId19Summary = fnAddDescripcionToImages(productId19Summary, keywordAltProductId19);
productId19Summary = fnAddTitleToImages(productId19Summary,keywordTitleProductId19);

// #23

const keywordAltProductId23 = new Map([
	[23,'Colgador de ropa para secar de pared']
]);
const keywordTitleProductId23 = new Map([[23,'Colgador de ropa para secar de pared']]);
const productId23 = fnGetProductListForEachId([23],productList);
let productId23Summary = fnGetProductSummaryList(productId23)(configApp);
productId23Summary = fnAddDescripcionToImages(productId23Summary, keywordAltProductId23);
productId23Summary = fnAddTitleToImages(productId23Summary,keywordTitleProductId23);

/**
 * SECTION 2
 */

// #51

const keywordAltProductId51 = new Map([
	[51,'Tendedero de balc칩n para extender ropa, colgado en barandilla de ventana sosteniendo calcetines y camisas']
]);
const keywordTitleProductId51 = new Map([[51,'Tendedero de balcon para extender ropa']]);
const productId51 = fnGetProductListForEachId([51],productList);
let productId51Summary = fnGetProductSummaryList(productId51)(configApp);
productId51Summary = fnAddDescripcionToImages(productId51Summary, keywordAltProductId51);
productId51Summary = fnAddTitleToImages(productId51Summary,keywordTitleProductId51);

// #29
const keywordAltProductId29 = new Map([
	[29,'Tendedero de pared retr치ctil para extender la ropa, en acero, montaje horizontal y 8 varillas sosteniendo 4 toallas']
]);
const keywordTitleProductId29 = new Map([[29,'Tendedero de pared retr치ctil para extender la ropa']]);
const productId29 = fnGetProductListForEachId([29],productList);
let productId29Summary = fnGetProductSummaryList(productId29)(configApp);
productId29Summary = fnAddDescripcionToImages(productId29Summary, keywordAltProductId29);
productId29Summary = fnAddTitleToImages(productId29Summary,keywordTitleProductId29);

// #24
const keywordAtlProductId24 = new Map([
	[24,'Tendal de ropa retr치ctil de pared horizontal, con dos brazos que se expanden desde la pared hacia afuera, y contiene 5 varillas para secado']
]);
const keywordTitleProductId24 = new Map([[24,'Tendal de ropa retr치ctil de pared']]);
const productId24 = fnGetProductListForEachId([24],productList);
let productId24Summary = fnGetProductSummaryList(productId24)(configApp);
productId24Summary = fnAddDescripcionToImages(productId24Summary, keywordAtlProductId24);
productId24Summary = fnAddTitleToImages(productId24Summary,keywordTitleProductId24);

// #50

const keywordAltProductId50 = new Map([
  [50,'Colgador de doble l칤nea para montaje en dos paredes, para tender ropa, de color blanco y que sostiene camisas de hombre'],
]);
const keywordTitleProductId50 = new Map([[50,'Colgador de doble l칤nea de pared para tender ropa']]);
const productId50 = fnGetProductListForEachId([50],productList);
let productId50Summary = fnGetProductSummaryList(productId50)(configApp);
productId50Summary = fnAddDescripcionToImages(productId50Summary, keywordAltProductId50);
productId50Summary = fnAddTitleToImages(productId50Summary,keywordTitleProductId50);

/**
 * SECTION 3
 */


// #10

const keywordAltProductId10 = new Map([
  [10,'Tendedero para secar ropa de dos niveles en acero y plegable, en forma de A may칰scula, con alas laterales en el medio y en la parte superior'],
]);
const keywordTitleProductId10 = new Map([[10,'Tendedero para secar ropa de dos niveles']]);
const productId10 = fnGetProductListForEachId([10],productList);
let productId10Summary = fnGetProductSummaryList(productId10)(configApp);
productId10Summary = fnAddDescripcionToImages(productId10Summary, keywordAltProductId10);
productId10Summary = fnAddTitleToImages(productId10Summary,keywordTitleProductId10);

// #21

const keywordAltProductId21 = new Map([
	[21,'Tendedero secador de ropa de 4 niveles y plegable, con dos alas laterales, con ruedas, sosteniendo ropa en cada nivel']
]);
const keywordTitleProductId21 = new Map([[21,'Tendedero secador de ropa de 4 niveles']]);
const productId21 = fnGetProductListForEachId([21],productList);
let productId21Summary = fnGetProductSummaryList(productId21)(configApp);
productId21Summary = fnAddDescripcionToImages(productId21Summary, keywordAltProductId21);
productId21Summary = fnAddTitleToImages(productId21Summary,keywordTitleProductId21);

// #52

const keywordAltProductId52 = new Map([
	[52,'Colgador para secar ropa, calcetines y ropa interior, con 32 clips, de color rosado y colgado de una varilla']
]);
const keywordTitleProductId52 = new Map([[52,'Colgador para secar ropa y calcetines']]);
const productId52 = fnGetProductListForEachId([52],productList);
let productId52Summary = fnGetProductSummaryList(productId52)(configApp);
productId52Summary = fnAddDescripcionToImages(productId52Summary, keywordAltProductId52);
productId52Summary = fnAddTitleToImages(productId52Summary,keywordTitleProductId52);

// #53

const keywordAltProductId53 = new Map([
	[53,'Tendedero para colgar ropa de 3 niveles con 48 clips y 16 barras para toallas y ropa, en acero, sosteniendo ropa en cada nivel']
]);
const keywordTitleProductId53 = new Map([[53,'Tendedero para colgar ropa de 3 niveles']]);
const productId53 = fnGetProductListForEachId([53],productList);
let productId53Summary = fnGetProductSummaryList(productId53)(configApp);
productId53Summary = fnAddDescripcionToImages(productId53Summary, keywordAltProductId53);
productId53Summary = fnAddTitleToImages(productId53Summary,keywordTitleProductId53);

// rest of products

const idProductListSlice1 = [1,2,3,4,5,7];
const productListSlice1 = fnGetProductListForEachId(idProductListSlice1,productList);
let productListSlice1Summary = fnGetProductSummaryList(productListSlice1)(configApp);

const idProductListTitleSlice2 = new Map([
  [11,'Estante para tender la ropa de 3 niveles'],
  [12,'Tendedero para secar ropa plegable con alas laterales'],
  [14,'Tendedero colgador de ropa plegable de pared'],
  [15,'Estante de secado para tender la ropa de 3 niveles'],
  [17,'Tender para la ropa de dos nivels'],
  [18,'Tender para colgar ropa, vertical en acero'],
]);
const idProductListSlice2 = [11,12,14,15,17,18];
const productListSlice2 = fnGetProductListForEachId(idProductListSlice2,productList);
let productListSlice2Summary = fnGetProductSummaryList(productListSlice2)(configApp);
productListSlice2Summary = fnAddTitleToImages(productListSlice2Summary,idProductListTitleSlice2);

const idProductListSlice3 = [20,22,25,27,30,31];
const productListSlice3 = fnGetProductListForEachId(idProductListSlice3,productList);
let productListSlice3Summary = fnGetProductSummaryList(productListSlice3)(configApp);

const idProductListSlice4 = [32,33,34,35,36,37];
const productListSlice4 = fnGetProductListForEachId(idProductListSlice4,productList);
let productListSlice4Summary = fnGetProductSummaryList(productListSlice4)(configApp);

const idProductListSlice5 = [38,39,40,41,42,43];
const productListSlice5 = fnGetProductListForEachId(idProductListSlice5,productList);
let productListSlice5Summary = fnGetProductSummaryList(productListSlice5)(configApp);

---

<MainLayout page="index">
	<main class="pt-20 lg:pt-0">
		<IntroImageComponent page="index"/>
		<br>
		<br>
		<div class="flex flex-col lg:flex-row">
			<AsideMenuComponent />
			<section class="w-11/12 m-auto lg:w-2/3">
				<div class="grid lg:grid-cols-2 gap-8">
					<ProductPlusVideo products={productId9Summary}/>
					<ProductPlusVideo products={productId8Summary}/>
					<ProductPlusVideo products={productId19Summary}/>
					<ProductPlusVideo products={productId23Summary}/>
				</div>
				<br>
				<br>
				<h3 class="text-center text-3xl text-zinc-600 font-sans font-bold lg:mt-6">
					La Efectividad del Tendedero de Ropa en Acci칩n
				</h3>
        <br>
        <p class="text-zinc-900 text-base lg:text-lg font-mono font-normal lg:w-3/4 text-center m-auto bg-yellow-100 p-5 lg:p-10 rounded-md">
        	Encuentra soluciones pr치cticas y eficientes. Olv칤date de las preocupaciones relacionadas con el espacio
					al elegir un tender de ropa, estan dise침ados para adaptarse a tus necesidades con un toque de elegancia y funcionalidad.
        </p>
        <br>
				<br>
				<div class="grid lg:grid-cols-2 gap-8">
					<ProductPlusVideo products={productId51Summary}/>
					<ProductPlusVideo products={productId29Summary}/>
					<ProductPlusVideo products={productId24Summary}/>
					<ProductPlusVideo products={productId50Summary}/>
				</div>
				<br>
				<br>
				<h3 class="text-center text-3xl text-zinc-600 font-sans font-bold lg:mt-6">
					Dise침o Innovador para Espacios Vers치tiles
				</h3>
        <br>
        <p class="text-zinc-900 text-base lg:text-lg font-mono font-normal lg:w-3/4 text-center m-auto bg-yellow-100 p-5 lg:p-10 rounded-md">
        	Los pr칩ximos estendederos de ropa no solo cumplen con su funci칩n principal de secado, sino que tambi칠n destacan 
					por su dise침o. 쮹uscas un extendedor de ropa sin sacrificar estilo?. Estos tendederos para ropa ofrecen 
					una combinaci칩n perfecta de practicidad y est칠tica.
        </p>
        <br>
				<br>
				<div class="grid lg:grid-cols-2 gap-8">
					<ProductPlusVideo products={productId10Summary}/>
					<ProductPlusVideo products={productId21Summary}/>
					<ProductPlusVideo products={productId52Summary}/>
					<ProductPlusVideo products={productId53Summary}/>
				</div>
				<br>
				<br>
				<h3 class="text-center text-3xl text-zinc-600 font-sans font-bold lg:mt-6">
					M치s All치 del Secado: Tender para ropa
				</h3>
        <br>
        <p class="text-zinc-900 text-base lg:text-lg font-mono font-normal lg:w-3/4 text-center m-auto bg-yellow-100 p-5 lg:p-10 rounded-md">
        	Ya sea que busques extender la ropa en un peque침o balc칩n o en un espacioso jard칤n, 
					cualquier colgador para secar ropa esta dise침ado para adaptarse a todo tipo de entorno. Con variedad de tama침os y estilos, 
					aqui encontrar치s el tendal de ropa perfecto.
        </p>
        <br>
				<br>
				<ProductsClusterComponent products={productListSlice1Summary}/>
				<br>
				<br>
				<h3 class="text-center text-3xl text-zinc-600 font-sans font-bold">
					Desde modelos compactos hasta modelos amplios
				</h3>
        <br>
        <p class="text-zinc-900 text-base lg:text-lg font-mono font-normal lg:w-3/4 text-center m-auto bg-yellow-100 p-5 lg:p-10 rounded-md">
					Para espacios compactos, un tendedero secador de ropa dise침ado con inteligencia y eficiencia ocupa un espacio 
					m칤nimo. 쮹uscas algo m치s amplio para tu hogar espacioso? Un colgador de ropa para secar grande brinda una capacidad superior, 
					descubre c칩mo nuestros tendederos se adaptan al lugar, ya sea en un acogedor apartamento o en una amplia residencia.
        </p>
        <br>
				<br>
				<ProductsClusterComponent products={productListSlice2Summary}/>
				<br>
				<br>
				<h3 class="text-center text-3xl text-zinc-600 font-sans font-bold">
					Durabilidad que Impresiona: Inversi칩n en Calidad
				</h3>
        <br>
        <p class="text-zinc-900 text-base lg:text-lg font-mono font-normal lg:w-3/4 text-center m-auto bg-yellow-100 p-5 lg:p-10 rounded-md">
          Cuando eliges un tendedero para colgar ropa de esta selecci칩n, no solo est치s adquiriendo un accesorio, sino una 
					inversi칩n en durabilidad y calidad. Materiales resistentes y construcci칩n s칩lida aseguran que tu tendedero perdure en el 
					tiempo, proporcionando un servicio confiable durante mucho tiempo.
        </p>
        <br>
				<br>
				<ProductsClusterComponent products={productListSlice3Summary}/>
				<br>
				<br>
				<h3 class="text-center text-3xl text-zinc-600 font-sans font-bold">
					Facilidad de Uso: Secado sin Complicaciones
				</h3>
        <br>
        <p class="text-zinc-900 text-base lg:text-lg font-mono font-normal lg:w-3/4 text-center m-auto bg-yellow-100 p-5 lg:p-10 rounded-md">
        	La simplicidad es la clave, y nuestros tendederos est치n dise침ados para hacer que el proceso de secado sea lo m치s sencillo posible. Con caracter칤sticas como ajustes de altura, facilidad de plegado y materiales duraderos, secar la ropa nunca ha sido tan f치cil y c칩modo. 游븷
        </p>
        <br>
				<br>
				<ProductsClusterComponent products={productListSlice4Summary}/>
				<br>
				<br>
				<h3 class="text-center text-3xl text-zinc-600 font-sans font-bold">
					Explora las 칰ltimas novedades en tendederos para el cuidado de tu ropa
				</h3>
        <br>
        <p class="text-zinc-900 text-base lg:text-lg font-mono font-normal lg:w-3/4 text-center m-auto bg-yellow-100 p-5 lg:p-10 rounded-md">
        	En resumen, un tendedero de ropa no solo es un producto m치s; es una inversi칩n en cuidado de prendas,
					comodidad y estilo. Descubre la diferencia que un buen tendedero puede hacer en tu vida cotidiana 
					y transforma la tarea de secar ropa en un momento pr치ctico.
        </p>
        <br>
				<br>
				<ProductsClusterComponent products={productListSlice5Summary}/>
				<br>
				<br>
				<h3 class="text-3xl lg:text-4xl text-zinc-600 text-center font-sans font-bold lg:mt-6">
					 No encuentras el modelo ideal ?
				</h3>
        <br>
        <br>
        <p class="text-zinc-800 text-base lg:text-lg font-mono font-medium lg:w-3/4 text-center m-auto bg-yellow-100 p-5 lg:p-10 rounded-md">
          Nuestro men칰 principal te puede ofrecer una gran variedad de opciones, rev칤salo :) 游
        </p>
        <br>
        <br>
				<BodyMenuComponent />
				<br>
				<br>
			</section>
			<AsideInterestComponent />
		</div>
	</main>
</MainLayout>

<style>
</style>
