---

// components
import MainLayout from '../layouts/MainLayout.astro';
import IntroImageComponent from '../app/html-intro-image-component/IntroImageComponent.astro';
import AsideSubMenuComponent from '../app/html-aside-sub-menu-component/AsideSubMenuComponent.astro';
import AsideInterestComponent from '../app/html-aside-interest-component/AsideInterestComponent.astro';
import BodySubMenuComponent from '../app/html-body-sub-menu-component/BodySubMenuComponent.astro';
import ProductsClusterComponent from '../app/html-products-cluster-component/ProductsClusterComponent.astro';
import ProductPlusVideoComponent from '../app/html-product-plus-video/ProductPlusVideo.astro';

// logic and common module
import CommonModule from '../app/server-common-module/Common.module';
import { fnGetConfigAppObj, fnInitApp } from '../app/InitApp';
import type { ProductType } from '../app/server-common-module/domain/types/Product.types';


// init app
await fnInitApp();
const fnGetProductSummaryList = CommonModule().fnGetProductSummaryList;
const fnGetProductListForEachId = CommonModule().fnGetProductListForEachId;
const fnFetchProductListByOnePage = CommonModule().fnFetchProductListByOnePage;
const fnFetchProductLisByAllPages = CommonModule().fnFetchProductLisByAllPages;
const fnAddDescripcionToImages = CommonModule().fnAddDescripcionToImages;
const fnAddTitleToImages = CommonModule().fnAddTitleToImages;
const fnHttpCall = CommonModule().fnHttpCall;
const configApp = fnGetConfigAppObj();

// get all products

const productList: ProductType[] = await fnFetchProductLisByAllPages(1,1,configApp,fnHttpCall,fnFetchProductListByOnePage,[]);


// keywords

/**
 * 
 * max: 140 characters
 * 
 * PRODUCT_ID - KEYWORDS
 * 7, 28, 8     tendedero de ropa plegable
 * 7, 18, 9     colgador de ropa plegable
 * 40, 29, 10   tendedero plegable
 * 40, 29, 50   tendedero retractil
 * 18, 37       tendederos retractiles
 * 16, 12       tendedero de ropa retractil
 * 23, 19       tendedero ropa plegable
 * 31, 19       tendedero extensible
 * 31, 1        tender plegable
 * 28, 1        colgador de ropa retractil
 * 
 */

const keywordsProductId9 = new Map([
  [9,'Tendedero de ropa plegable, de piso con tr칤pode, color blanco y brazos de madera estilo pulpo que sostiene 3 camisas y una toalla'],
]);

const keywordsProductId8 = new Map([
  [8,'Colgador de ropa plegable de 4 niveles de piso, de color gris y de acero inoxidable con dos alas laterales, que sostiene varias prendas'],
]);

const keywordsProductId50 = new Map([
  [50,'Tendedero plegable, para montaje en dos paredes, y entre pared y pared se estiran 4 cuerdas de acero, color blanco que sostiene camisas'],
]);

const keywordsProductId10 = new Map([
  [10,'Tendedero retr치ctil, de dos niveles y de piso, en forma de A may칰scula, en la parte superior y en el medio se extienden alas laterales'],
]);

const keywordsDescriptionForImages = new Map([
  [7,'Tendedero de ropa plegable, colgador de ropa plegable, de color plateado, est치 de pie, sosteniendo un pantal칩n y dos toallas'],
  [40,'Tendedero plegable, tendedero retr치ctil, de madera, est치 de pie, sosteniendo tres toallas de colores azul claro, azul oscuro y marr칩n'],
  [16,'Tendedero de ropa retr치ctil, de aluminio con 4 brazos superiores para sostener ropa, que son una camiseta roja y dos toallas blanca y caf칠'],
  [23,'Tendedero ropa plegable, montado en la pared, en forma de brazo con 3 partes que se pueden plegar y sostiendo varias camisas y camisetas'],
  [31,'Tendedero extensible, tender plegable, de acero, montado en la pared que sostiene una chaqueta de hombre y dos camisas de mujer'],
  [31,'Tendedero extensible, tender plegable, de acero, montado en la pared que sostiene una chaqueta de hombre y dos camisas de mujer'],
  [28,'Colgador de ropa retr치ctil, tendedero de ropa plegable, montado en la pared, con 5 varillas para sostener ropa'],
  [18,'Tendederos retr치ctiles, colgador de ropa plegable, de piso en forma de T, sosteniendo varias camisas de hombre a cada lado'],
  [29,'Tendedero plegable, tendedero retr치ctil, de color plateado, en acero, montado en la pared con 8 varillas, que sostiene 4 toallas'],
  [37,'Tendederos retr치ctiles, de color negro, en metal, montado en la pared con 8 varillas, que sostiene 4 toallas y una camisa'],
  [12,'Tendedero de ropa retr치ctil, de piso con varillas, en forma de mesa con dos alas laterales adicionales que sostiene mucha ropa'],
  [19,'Tendedero ropa plegable, tendedero extensible, de madera bambu, de piso y sin prendas'],
  [1,'Tender plegable, cogador de ropa retr치ctil, de madera bambu, de piso con dos camisas'],
]);

// video products

const productId8 = fnGetProductListForEachId([8],productList);
let productId8Summary = fnGetProductSummaryList(productId8)(configApp);
productId8Summary = fnAddDescripcionToImages(productId8Summary, keywordsProductId8);

const productId9 = fnGetProductListForEachId([9],productList);
let productId9Summary = fnGetProductSummaryList(productId9)(configApp);
productId9Summary = fnAddDescripcionToImages(productId9Summary, keywordsProductId9);

const productId10 = fnGetProductListForEachId([10],productList);
let productId10Summary = fnGetProductSummaryList(productId10)(configApp);
productId10Summary = fnAddDescripcionToImages(productId10Summary, keywordsProductId10);

const productId50 = fnGetProductListForEachId([50],productList);
let productId50Summary = fnGetProductSummaryList(productId50)(configApp);
productId50Summary = fnAddDescripcionToImages(productId50Summary, keywordsProductId50);

// images, rest of products, 

const idListProduct = [7,40,16,23,31,28,18,29,37,12,39,1];
const similarProducts = fnGetProductListForEachId(idListProduct,productList);
let similarProductsSummaryList = fnGetProductSummaryList(similarProducts)(configApp);
similarProductsSummaryList = fnAddDescripcionToImages(similarProductsSummaryList, keywordsDescriptionForImages);

---

<MainLayout page="plegable">
  <main class="pt-20 lg:pt-0">
    <IntroImageComponent page="plegable"/>
    <br>
    <br>
    <div class="flex flex-col lg:flex-row">
      <AsideSubMenuComponent category="Plegable" />
      <section class="text-gray-800 font-mono w-11/12 m-auto lg:w-2/3">
        <div class="grid lg:grid-cols-2 gap-8">
					<ProductPlusVideoComponent products={productId9Summary}/>
					<ProductPlusVideoComponent products={productId8Summary}/>
					<ProductPlusVideoComponent products={productId50Summary}/>
					<ProductPlusVideoComponent products={productId10Summary}/>
				</div>
				<br>
				<br>
        <br>
        <br>
        <h2 class="text-3xl lg:text-4xl text-zinc-600 text-center font-sans font-bold">
					M치s productos relacionados con tendederos retr치ctiles
				</h2>
        <br>
        <br>
        <br>
        <br>
				<ProductsClusterComponent products={similarProductsSummaryList}/>
        <h3 class="text-3xl lg:text-4xl text-zinc-600 text-center font-sans font-bold lg:mt-6">
					 No encuentras el modelo ideal ?
				</h3>
        <br>
        <br>
        <p class="text-zinc-800 text-base lg:text-lg font-mono font-medium lg:w-3/4 text-center m-auto bg-yellow-100 p-5 lg:p-10 rounded-md">
          Nuestro men칰 principal te puede ofrecer una gran variedad de opciones, rev칤salo :) 游
        </p>
        <br>
        <br>
        <BodySubMenuComponent category="Plegable"/>
        <br>
        <br>
      </section>
      <AsideInterestComponent />
    </div>
  </main>
</MainLayout>

